// TODO stillingar hér
$headerColor: #ff5000;
$footerColor: #00b7ff;
$blackText: #000000;
$whiteText: #fffcf2;
$font : 16px;
$gutter : 20px;
$Oswald : 'Oswald', serif;
$Open : 'Open Sans', serif;
$transition: all 300ms ease-in-out 0s;
