// TODO stillingar hér
$headerColor: #ff5000;
$footerColor: #00b7ff;
$blackText: #000000;
$whiteText: #fffcf2;
$font : 16px;
$gutter : 20px;
$Oswald : "Oswald", sans-serif;
$Open : "Open Sans", serif;
$transition: 200ms ease-in-out 0s;

@mixin rounded {
    border: 1px solid #000;
    border-radius: 3px;
  }

  .blue__button {
    background-color: $footerColor;
    color:$blackText;
    font-size: 12px;

    width: 250px;
    height: 40px;

    border: 0 solid;
    border-radius: 3px;
    transition: background-color $transition, color $transition;
  }
  .blue__button:hover{
    background-color: $headerColor;
    color: $footerColor;

    transition: background-color $transition, color $transition;
  }
