// TODO stillingar hér
$headerColor: #ff5000;
$footerColor: #00b7ff;
$blackText: #000000;
$whiteText: #fffcf2;
$font : 16px;
$gutter : 20px;
$Oswald : "Oswald", sans-serif;
$Open : "Open Sans", serif;
$transition: 200ms ease-in-out 0s;
$beforeFirst: 500px;
$firstSwitch: 501px;
$secondSwitch: 800px;

@mixin font($nr) {
  @if $nr == 1 {
    font-size: 12px;
  }
  @if $nr == 2 {
    font-size: 14px;
  }
  @if $nr == 3 {
    font-size: 18px;
  }
  @if $nr == 4 {
    font-size: 21px;
  }
  @if $nr == 5 {
    font-size: 24px;
  }
  @if $nr == 6 {
    font-size: 36px;
  }
  @if $nr == 7 {
    font-size: 48px;
  }
  @if $nr == 8 {
    font-size: 60px;
  }
}


@mixin rounded {
    border: 1px solid #000;
    border-radius: 3px;
  }

@mixin maxWidth {
  max-width: 1200px;
}

  .blue__button {
    background-color: $footerColor;
    color:$blackText;
    font-size: 12px;

    width: 250px;
    height: 40px;

    border: 0 solid;
    border-radius: 3px;
    transition: background-color $transition, color $transition;
  }
  .blue__button:hover{
    background-color: $headerColor;
    color: $whiteText;

    transition: background-color $transition, color $transition;
  }
