@import "config.scss"; 



.course{

  margin-top:2*$gutter;
  display: flex;
  justify-content: center;

  &__title{
  margin-bottom:20px;
  font-family: $Oswald;
  font-size:25px;
  }
  &__text{
  font-family: $Open;
  
  }
&__box{
  margin-bottom:10px;
  width:90%;
  @include rounded;
  padding:10px;
  &__full{
  width:100%;
  @include rounded;
  padding:10px;
  }
}
&__button{
  position: relative;
  left: 46vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

&__img {
  width: 98.5%;
  height:100%;
}
  &__grid {
  display: grid;
  @include maxWidth;
  margin-top: 10px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 0.6em;
  margin-right: 10px;
  margin-left: 10px;

  
&__grid{
  &-1{
    margin:10px;
  }
  &-2{
    margin:10px;
  }
  &-3{
    margin:10px;
  }
  &-4{
    margin:10px;
  }
}
}

.course__grid-3-content {
  display: grid;
  grid-template-columns: 33% 67%;
  justify-items: stretch;
  

}

.course__grid-4-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  &-cardnumber{
      grid-column:1;
      grid-row:1;
  }
  &-cardnumber-input{
    grid-column:4/13;
    grid-row:1;
  }
  &-cardowner{
    grid-column:1;
    grid-row:2;
  }
  &-cardowner-input{
    grid-column:4/13;
    grid-row:2;
  }
  &-col-1{
    grid-column:1;
    grid-row:3;
  }
  &-col-2{
    grid-column:5;
    grid-row:3;
    text-align:center;
  }
  &-col-3{
    grid-column:6/8;
    grid-row:3;
  }
  &-col-4{
    grid-column:9;
    grid-row:3;
    text-align:center;
  }
  &-col-5{
    grid-column:10/12;
    grid-row:3;
  } 
}


}

@media(max-width: $beforeFirst){
  .course{
    &__button{
      left:30vw;
    }
    &__box{
      width:100%;
    }
    &__text{
      font-size:1.5em;
    }
  }
}

@media(min-width: $firstSwitch){
 
    .course{
      &__grid {
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
    }
    &__text{
      font-size:1.5em;
    }
      
      &__button{
        left:35vw;
      }
    }
  }

@media(min-width: $secondSwitch){
  .course__text{
    font-size:1.8em;
  }
  .course__title{
    font-size:35px;
  }
  .course__button{
    left:42vw;
  }
}

  

