$headerColor: #ff5000;
$footerColor: #00b7ff;
$blackText: #000000;
$whiteText: #fffcf2;

img {
    width: 100%;
    height: 100%;
}
.main__grid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 50% 50%;
    grid-auto-rows: 100px; 
    grid-gap: 1em;

}

.main__grid > div {
    h2 {
        margin-bottom: 20px;
    }
    p, label {
        font-size: 0.75em;
    }
}
.main__grid-1, .main__grid-3, .main__grid-4{
    padding:10px;
}

.main__grid-3-content{
    display: grid;
    grid-template-columns: 33% 67%;
    justify-items: stretch;
    padding-right: 20%;
    div {
        margin-bottom: 10px;
    }
    input, select {
        width: 100%;
    }
} 
.main__grid-4-content {
    display: grid;
    grid-template-columns:33% 67%;
    padding-right: 20%;
    div {
        margin-bottom:10px;
    }
    input {
        width: 100%;
    }

}
.main__grid-4-content-2 {
    display: grid;
    padding-right: 20%;
    grid-template-columns: 21% 21% 21% 21% 21%;
    align-items: center;
}
button{
    margin-top: 20px;
    align-items: center;
}


