@import "scss/config.scss";

.footer__index {
  padding: 20px 0;
  background-color: $footerColor;
  display: flex;
  align-items: center;
  flex-direction: column;

  .footer {
    &__row {
      display: flex;
      max-width: 1240px;
      justify-content: space-between;
      font-family: helvetica;
      width: 100%;
      padding-left: 0.5*$gutter;
      padding-right: 0.5*$gutter;
      
      flex-direction: column;
      @media(min-width: $secondSwitch){
        flex-direction: row;
      }
      @media (min-width:$secondSwitch){
        margin-left: -10px;
        margin-right:-10px;

      }
      
    }

    &__list {
      line-height: 2em;
      list-style: none;
    }

    &__title {
      margin-top: $gutter;
      margin-bottom: 0.5*$gutter;
      @include font(5);
      font-weight: bold;
      color: $blackText;
    }

    &__link{
        text-decoration:none;
        color: $whiteText;
    }

    &__link:hover{
      color: $blackText;
    }

    &__combined{
      display:flex;
      justify-content: space-around;
      @media (min-width:$secondSwitch){
        
      width: 50%;
      justify-content: start;
      }
    }

    &__col{
      width:50%;
      margin-left: 0.5*$gutter;
      margin-right: 0.5*$gutter;
    }
  }

  .trademark {
    margin-top: 0.5*$gutter;
    text-align: center;
  }
}




