@import "scss/config.scss";

.footer__index {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  background-color: $footerColor;
  align-items: center;

  .footer {
    &__row {
      display: flex;
      width: 100%;
      max-width: 1240px;
      justify-content: space-between;
      padding-right: 0.5*$gutter;
      padding-left: 0.5*$gutter;
      font-family: helvetica;

      flex-direction: column;
      @media (min-width: $secondSwitch) {
        flex-direction: row;
      }
      @media (min-width: $secondSwitch) {
        margin-right: -10px;
        margin-left: -10px;

      }

    }

    &__list {
      line-height: 2em;
      list-style: none;
    }

    &__title {
      margin-top: $gutter;
      margin-bottom: 0.5*$gutter;
      @include font(5);
      font-weight: bold;
      color: $blackText;
    }

    &__link {
      color: $whiteText;
      text-decoration: none;
    }

    &__link:hover {
      color: $blackText;
    }

    &__combined {
      display: flex;
      justify-content: space-around;
      @media (min-width: $secondSwitch) {
        width: 50%;
        justify-content: start;
      }
    }

    &__col {
      width: 50%;
      margin-right: 0.5*$gutter;
      margin-left: 0.5*$gutter;
    }
  }

  .trademark {
    margin-top: 0.5*$gutter;
    text-align: center;
  }
}
