$headerColor: #ff5000;
$footerColor: #00b7ff;
$blackText: #000;
$whiteText: #fffcf2;

footer {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  background-color: $footerColor;
  justify-content: center;

  .footer {
    &__row {
      display: flex;
      max-width: 1200px;
      margin: 0 10vw;
      justify-content: space-between;
      font-family: helvetica;

      li {
        font-size: 0.75em;
        line-height: 2em;
        
        list-style: none;
      }
    }

    &__title {
      margin-bottom: 10px;
      font-size: 1em;
      font-weight: bold;
      color: $blackText;
    }

  }

  .trademark {
    margin-top: 10px;
    text-align: center;
  }
  a{
    text-decoration:none;
    color: $whiteText;
  }
  a:hover{
    color: $blackText;
  }
}

@media (max-width:599px){
  .footer {
    &__row {
      flex-wrap:wrap;
    }
    &__col {
      font-size:2em;
      margin: 20px 0;
    }
    
  }

}
