@import "config";


.index {
  font-family: "Open Sans", serif;

  &__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    padding-top: 40px;
    transition: $transition;
  }

  &__info {
    width: 100%;
  }

  &__img{
    width: 100%;
    height: auto;
  }

  &__title {
    font-family: $Oswald;
    font-weight: 600;
    font-size: 35px;;
  }
  &__description {
    padding: 40px 0;
  }
}
