@import "config.scss";

main{
  margin: $gutter;
}
.index {
  font-family: $Open;
  max-width:1200px;
  
  &__card{
    padding: $gutter;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
    transition: all $transition;
  }
  .col1{
    text-align:left;
  }
  &__info {
    width: 100%;
    height: 100%;
  }

  &__img{
    width: 100%;
    height: 100%;
  }

  &__title {
    font-family: $Oswald;
    font-weight: 600;
    font-size: 36px;
  }
  &__description {
    padding: 40px 0;
    font-family: $Oswald;
    font-size: 24px;
  }
}

@media(max-width:635px){
  .col2row1{
    order: -1;
  }
}
