@import "config.scss";

main{
  margin-bottom:20px;
}
.index {
  font-family: "Open Sans", serif;
  /*max-width:1200px;*/
  
  &__card{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
    transition: all 300ms ease-in-out 0s;
  }
  .col1{
    text-align:left;
  }
  &__info {
    width: 100%;
    height: 100%;
  }

  &__img{
    width: 100%;
    height: 100%;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 35px;
  }
  &__description {
    padding: 40px 0;
    font-family: "Oswald", sans-serif;
  }
}

@media(max-width:635px){
  .col2row1{
    order: -1;
  }
}
