@import "config.scss";

.uppl {
    display: flex;
    justify-content: center;

    &__row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @include maxWidth;
    }

    &__col{
        padding-left: 0.5*$gutter;
        padding-right: 0.5*$gutter;
        width: 100%;
        @media(min-width: $firstSwitch){
            width: 50%;
        }
        @media(min-width: $secondSwitch){
            width: 41%;
            margin-right: 9%;
        }
    }
    
    &__titill {
        @include font6;
        font-family: $Oswald;
    }

    &__skrifa {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > .reitur {
            display: flex;
            justify-content: space-between;
            margin-top: 0.5*$gutter;
            margin-bottom: 0.5*$gutter;

            & > .text {
                font-family: $Open;
                @include font3;
            }

            & > .kassi {
                width: 66%;
                @include rounded;
                padding: 0.5*$gutter;
            }
        }

        
    }

    &__velja {
        display: flex;
        justify-content: space-between;
        width: 66%;
        margin-top: 0.5*$gutter;
        margin-bottom: 0.5*$gutter;
        & > .dropDown {
            @include rounded;
            padding: 0.5*$gutter;
            @include font3;
        }
        & > .stor {
            width: 100%;;
            
        }
        & > .text {
            font-family: $Open;
            @include font3;
        }

    }

    &__gildi {
        display: flex;
        justify-content: space-between;
        & > .text {
            font-family: $Open;
            @include font3;
        }
    }


    
}




