@import "config.scss";

.uppl {
    &__row{
        display: flex;
        flex-wrap: wrap;
    }

    &__col{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        @media(min-width: 700px){
            width: 50%;
        }
    }
    
    &__titill {
        font-size: 20px;
    }

    &__skrifa {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > .reitur {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 10px;
            & > .kassi {
                width: 66%;
                @include rounded;
            }
        }

        
    }

    &__velja {
        display: flex;
        justify-content: space-between;
        width: 66%;
        margin-top: 10px;
        margin-bottom: 10px;
        & > .dropDown {
            @include rounded;
        }
        & > .stor {
            width: 100%;;
        }

    }

    &__gildi {
        display: flex;
        justify-content: space-between;
    }


    
}




