@import "config.scss";

.header__link:hover {
  color: $whiteText;
}

.header__row {
  display: flex;
  font-family: Oswald, sans-serif;
  flex-direction: column;
  align-items: center;
  background-color: $headerColor;

  .header {
    &__title {
      @include font(8);
      padding-top: 10px;
      margin-bottom: $gutter;
      color: $blackText;
    }

    &__list {
      display: flex;
      width: 100%;
      margin-bottom: 0.5*$gutter;
      list-style: none;
      justify-content: space-around;

      @media (min-width: $firstSwitch) {
        width: 300px;
        flex-wrap: wrap;
      }

      @media (min-width: $secondSwitch) {
        width: 500px;
      }
    }

    &__link {
      font-family: $Open;
      font-weight: bold;
      color: $blackText;
      text-decoration: none;
    }

    &__img {
      height: $gutter;
    }

    &__row {
      width: 100%;
      flex-wrap: nowrap;
      flex-direction: column;
      @include maxWidth;
    }

    &__links {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      @include maxWidth;
      @media (min-width: $firstSwitch) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__empty {
      @media (min-width: $firstSwitch) {
        width: 100px;
      }
    }

    &__cart {
      .header--item {
        margin-bottom: 0.5*$gutter;
      }

      .header__link {
        font-weight: normal;
      }

    }

  }

}
