@import "config.scss";

.header__link:hover{
    color: $whiteText;
}

@media (max-width: $beforeFirst){
    header {
        background-color: $headerColor;
        font-family: "Oswald", sans-serif;
        .header{
            &__title{ 
                @include font(8);
                color: $blackText;
                padding-top:10px;
            }
            &__list{
                list-style: none;
                font-size:1em;
            }
            &__link{
                text-decoration: none;
                color: $blackText;
                font-weight: bold;
                font-family: $Open;
            }
            &__img{
                height:15px;
            }
            &__row{
            
                &__grid{
                    text-align:center;
                    &-nested{
                        display: grid;
                        grid-template-columns:1fr 1fr 1fr 1fr;
                        grid-template-rows:1fr 1fr;
                        height:100%;
                        padding-bottom: 20px;
                        margin-top: 20px;
                    }
                }
            
                &-cart{
                grid-column:2/4;
                }

            }
        }     
       }
    }
    @media (min-width: $firstSwitch){
        header {
            background-color: $headerColor;
            font-family: "Oswald", sans-serif;
            .header{
                &__title{ 
                    @include font(8);
                    color: $blackText;
                    padding-top:10px;
                }
                &__list{
                    list-style: none;
                    font-size:1em;
                }
                &__link{
                    text-decoration: none;
                    color: $blackText;
                    font-weight: bold;
                    font-family: $Open;
                }
                &__img{
                    height:15px;
                }
                &__row{    
                             
                &__grid{
                        text-align:center;
                        &-nested{
                            display: grid;
                            grid-template-columns:repeat(8, 1fr);
                            grid-template-rows:1fr 1fr;
                            height:100%;
                            padding-bottom: 20px;
                            margin-top: 20px;
                        }
                    }
                    &-index{
                        grid-column:4;
                        grid-row:1;
                    }
                    &-products{
                        grid-column:5;
                        grid-row:1;
                    }
                    &-course{
                        grid-column:6;
                        grid-row:1;
                    }
                    &-staff{
                        grid-column:5;
                        grid-row:2;
                    }   
                    &-cart{
                        grid-row:1;
                        grid-column:10/12;
                        padding-right:10px;
                    }
            }
            }     
           }
        }
        
    
    @media (min-width: $secondSwitch){
        header {
            background-color: $headerColor;
            font-family: "Oswald", sans-serif;
            .header{
                &__title{ 
                    @include font(8);
                    color: $blackText;
                    padding-top:10px;
                }
                &__list{
                    list-style: none;
                    font-size:1em;
                }
                &__link{
                    text-decoration: none;
                    color: $blackText;
                    font-weight: bold;
                    font-family: $Open;
                }
                &__img{
                    height:15px;
                }
                &__row{    
                max-width:1200px;
                margin:0 10vw;
                   
                
                &__grid{
                        text-align:center;
                        &-nested{
                            display: grid;
                            grid-template-columns:repeat(8, 1fr);
                            grid-template-rows:1fr;
                            height:100%;
                            padding-bottom: 20px;
                            margin-top: 20px;
                        }
                    }
                    &-index{
                        grid-column:3/5;
                        grid-row:1;
                    }
                    &-products{
                        grid-column:4/6;
                        grid-row:1;
                    }
                    &-course{
                        grid-column:5/7;
                        grid-row:1;
                    }
                    &-staff{
                        grid-column:6/8;
                        grid-row:1;
                    }   
                    &-cart{
                        grid-row:1;
                        grid-column:10/12;
                        padding-right:10px;
                    }
            }
        }
    }
}