$headerColor: #ff5000;
$footerColor: #00b7ff;
$blackText: #000000;
$whiteText: #fffcf2;

header {
    background-color: $headerColor;
    
    font-family: "Oswald", sans-serif;
    
    
    h1{
        font-size: 3.75em;
        color: $blackText;
        margin-top:10px;
    }
    ul {
        
        
       
        list-style: none;
        font-size:1.25em;
        
    }
    a{
        text-decoration: none;
        color: $blackText;
        font-weight: bold;
    }
}
.header__row__grid{
    /*border:3px solid red; */
    text-align:center;
    &-nested{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
        height:100%;
        padding-bottom: 20px;
        margin-top: 20px;
        div {
           /* border:1px solid darkblue; */
        }
        .header__row-cart{
            grid-column:2/4;
        }
    }
}
.header__row{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;     
    img {
        height:15px;

    } 
}
