$headerColor: #ff5000;
$footerColor: #00b7ff;
$blackText: #000000;
$whiteText: #fffcf2;

@media (max-width: 599px){
header {
    background-color: $headerColor;
    font-family: "Oswald", sans-serif;

    h1{
        font-size: 3.75em;
        color: $blackText;
        padding-top:10px;
    }
    ul {
        list-style: none;
        font-size:1.25em;  
    }
    a{
        text-decoration: none;
        color: $blackText;
        font-weight: bold;
    }
    .header__row {    

       
            img {
                height:15px;
            } 
        
        &__grid{
                text-align:center;
                &-nested{
                    display: grid;
                    grid-template-columns:1fr 1fr 1fr 1fr;
                    grid-template-rows:1fr 1fr;
                    height:100%;
                    padding-bottom: 20px;
                    margin-top: 20px;
                }
            }
        
        &-cart{
            grid-column:2/4;
        }
    }
}
}
@media (min-width: 600px){
    header {
        background-color: $headerColor;
        font-family: "Oswald", sans-serif;
        h1{
            font-size: 3.75em;
            color: $blackText;
            padding-top:10px;
        }
        ul {
            list-style: none;
            font-size:1.25em;  
        }
        a{
            text-decoration: none;
            color: $blackText;
            font-weight: bold;
        }
        .header__row {    
         
                img {
                    height:15px;
                } 
            
            &__grid{
                    text-align:center;
                    &-nested{
                        display: grid;
                        grid-template-columns:repeat(8, 1fr);
                        grid-template-rows:1fr 1fr;
                        height:100%;
                        padding-bottom: 20px;
                        margin-top: 20px;
                    }
                }
                &-index{
                    grid-column:4;
                    grid-row:1;
                }
                &-products{
                    grid-column:5;
                    grid-row:1;
                }
                &-course{
                    grid-column:6;
                    grid-row:1;
                }
                &-staff{
                    grid-column:5;
                    grid-row:2;
                }   
                &-cart{
                    grid-row:1;
                    grid-column:10/12;
                    padding-right:10px;
                }
        }
    }
}
@media (min-width: 1000px){
    header {
        background-color: $headerColor;
        font-family: "Oswald", sans-serif;
        h1{
            font-size: 3.75em;
            color: $blackText;
            padding-top:10px;
        }
        ul {
            list-style: none;
            font-size:1.25em;  
        }
        a{
            text-decoration: none;
            color: $blackText;
            font-weight: bold;
        }
        .header__row {    
            max-width:1200px;
            margin:0 10vw;
                img {
                    height:15px;
                } 
            
            &__grid{
                    text-align:center;
                    &-nested{
                        display: grid;
                        grid-template-columns:repeat(8, 1fr);
                        grid-template-rows:1fr;
                        height:100%;
                        padding-bottom: 20px;
                        margin-top: 20px;
                    }
                }
                &-index{
                    grid-column:3/5;
                    grid-row:1;
                }
                &-products{
                    grid-column:4/6;
                    grid-row:1;
                }
                &-course{
                    grid-column:5/7;
                    grid-row:1;
                }
                &-staff{
                    grid-column:6/8;
                    grid-row:1;
                }   
                &-cart{
                    grid-row:1;
                    grid-column:10/12;
                    padding-right:10px;
                }
        }
    }
}