@import "config.scss";

.staff {
    padding-top: $gutter;
    padding-bottom: 3*$gutter;

    &__about {
        display: flex;
        width: 100%;
        margin-top: $gutter;
        align-items: center;
        transform-style: preserve-3d;
        transition: $transition;
    }

    &__card:hover &__about {
        transform: rotateY(180deg);
    }

    &__card:hover &__img {
        visibility: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;

        backface-visibility: hidden;
        transition: $transition;
    }

    &__person {
        position: absolute;
        display: block;
        width: 100%;
        font-family: $Open;
        font-size: 1.125em;
        text-align: center;
        flex-direction: column;
        backface-visibility: hidden;
        transform: rotateY(180deg);
    }

    &__name {
        margin-bottom: $gutter;
        font-family: $Oswald;
        font-size: 1.5em;
    }
}

@media (min-width: $firstSwitch) {
    .staff {
        padding-top: 0;

        &__card {
            padding-top: $gutter;
        }
    }
}
