@mixin rounded{
    border: 1px solid black;
    border-radius: 3px;
}

.vorur{
    display: flex;
    justify-content: center;

    &__row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: "helvetica";
        max-width: 1200px;
    }
}
.vara{
    display: flex;
    flex-direction: column;

    
    &__image{
        width: 100%;
        
    }
    
    &__innihald{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__uppi{
        margin-bottom: 20px;
    }
    
    &__heiti{

        margin-bottom: 10px;
    }

    &__verd{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 30px;
    }

    &__magn{
        display: flex;
        
    }

    &__moguleikar{
        display: flex;
        flex-direction: column;
        &__vorur{
            &__fjoldi--input{
                @include rounded;
                padding: 10px;
                margin-right: 10px;
                width: 60%;
            }
            &__takki{
                @include rounded;
                padding: 10px;
                margin-right: 10px;
                width: 30%;
                &--karfa{
                    max-height: 12px;
                }
            }
        }
        &__karfa{
            &__fjoldi--input{
                @include rounded;
                padding: 10px;
                margin-right: 10px;
                width: 25%;
            }
            &__takki{
                @include rounded;
                padding: 10px;
                margin-right: 10px;
                &--karfa{
                    max-height: 12px;
                }
            }
        }
    }
    

}

