@import "config.scss";

.takki {
  display: flex;
  justify-content: center;
  margin-top: $gutter;
  margin-bottom: 2*$gutter;
}

.titill {
  &__row {
    display: flex;
    justify-content: center;
    margin-top: 2*$gutter;
  }

  &__col {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    @include maxWidth;
    margin-bottom: $gutter;
  }

  &__texti {
    @include font(6);
    font-family: $Oswald;
  }
}

.vorur {
  display: flex;
  justify-content: center;
  margin-top: 2*$gutter;

  &__row {
    max-width: 1220px;
  }
}

.vara {
  display: flex;
  height: 100%;
  padding-bottom: 2*$gutter;
  flex-direction: column;

  &__takkastaerd {
    display: flex;
    flex-wrap: nowrap;
  }

  &__image {
    width: 100%;
  }

  &__innihald {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__uppi {
    margin-bottom: $gutter;
  }

  &__heiti {
    margin-bottom: 0.5*$gutter;
    font-family: $Oswald;
    @include font(6);
  }

  &__lysing {
    font-family: $Open;
  }

  &__verd {
    margin-bottom: 2*$gutter;
    @include font(5);
    font-family: $Oswald;
    font-weight: bold;
  }

  &__magn {
    display: flex;
  }

  &__moguleikar {
    display: flex;
    flex-direction: column;

    &__vorur {
      &__fjoldi {
        font-family: $Open;
        @include font(4);
      }

      &__fjoldi--input {
        width: 66%;
        @include rounded;
        padding: 0.5*$gutter;
        margin-right: 0.5*$gutter;
      }

      &__takki {
        width: 33%;
        @include rounded;
        padding: 0.5*$gutter;
        transition: background-color 200ms ease-in-out 0s, color 200ms ease-in-out 0s;
      }

      &__takki:hover {
        background-color: $footerColor;
        border-color: $footerColor;
      }

      &__takki--karfa {
        max-height: 12px;
      }
    }

    &__karfa {
      &__fjoldi {
        font-family: $Open;
        @include font(4);
      }

      &__fjoldi--input {
        width: 100px;
        @include rounded;
        padding: 0.5*$gutter;
        margin-right: 0.5*$gutter;
      }

      &__takki {
        @include rounded;
        padding: 0.5*$gutter;
        margin-right: 0.5*$gutter;
        transition: background-color 200ms ease-in-out 0s, color 200ms ease-in-out 0s;
      }

      &__takki:hover {
        background-color: $footerColor;
        border-color: $footerColor;
      }

      &__takki--karfa {
        max-height: 12px;
      }
    }
  }
}

@media (min-width: $firstSwitch) {
  .dir--row {
    flex-direction: row;
  }
}

@media (min-width: $secondSwitch) {
  .bigCart {
    height: auto;
    padding-left: 0.5*$gutter;
  }
}
