@import "config.scss";

.vorur {
  display: flex;
  justify-content: center;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    font-family: helvetica;
  }

  &__col{
    width: 100%;
  }
}




.vara {
  display: flex;
  flex-direction: column;
  @media(min-width: 700px){
    flex-direction: row;
  }

  &__image {
    width: 100%;
    @media(min-width: 700px){
      width: 33%;
    }
  }

  &__innihald {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__uppi {
    margin-bottom: 20px;
  }

  &__heiti {
    margin-bottom: 10px;
  }

  &__verd {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
  }

  &__magn {
    display: flex;
  }

  &__moguleikar {
    display: flex;
    flex-direction: column;

    &__vorur {
      &__fjoldi--input {
        width: 60%;
        @include rounded;
        padding: 10px;
        margin-right: 10px;
      }

      &__takki {
        width: 30%;
        @include rounded;
        padding: 10px;
        margin-right: 10px;

        &--karfa {
          max-height: 12px;
        }
      }
    }

    &__karfa {
      &__fjoldi--input {
        width: 25%;
        @include rounded;
        padding: 10px;
        margin-right: 10px;
      }

      &__takki {
        @include rounded;
        padding: 10px;
        margin-right: 10px;

        &--karfa {
          max-height: 12px;
        }

      }
    }
  }
}
